@font-face {
    font-family: iransans;
    src: url("../fonts/iransans/IRANSansWeb.eot");
    src: url("../fonts/iransans/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/iransans/IRANSansWeb.woff2") format("woff2"), url("../fonts/iransans/IRANSansWeb.woff") format("woff"), url("../fonts/iransans/IRANSansWeb.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

* {
    font-family: iransans!important;
    direction: rtl;
}